<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]--> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$style{/yun}/js/special.js" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="{yun:}$style{/yun}/special/css/css.css">
</head>
<script language="javascript">
var pricename='{yun:}$config.integral_pricename{/yun}'; 
</script>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}
<div class="clear"></div>
<!--header头部-->
<div class="c_spe_header">
<div class="c_spe_banner"></div>
</div>

<!--header头部结束-->


<!--内容content-->
<div class="c_spe_content">
<div class="wrap">
<div style="width:100%; float:left; position:relative">
{yun:}if !$isapply{/yun}
<input type='button' value="我要报名" onclick="comapply('{yun:}$info.id{/yun}','{yun:}$info.integral{/yun}','{yun:}url m=special c=apply{/yun}')" class="c_z_head_btn" style="right:0px;top:-110px;">
{yun:}/if{/yun}
</div>
	<div class="z_dida_pinc">
		<div class="z_spe_dida">
			<ul>
				{yun:}specialcom sid='auto.id' namelen=10 jobnamelen=6 item=clist{/yun}
				<li>
					<div class="z_fsl_fb">
						<div class="z_pinc_pic"><a href="{yun:}$clist.comurl{/yun}" target="_blank"><img src="{yun:}$clist.logo{/yun}" width="294" height="115" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);"/></a></div>
						<div class="z_pinc_nr">
							<div class="z_nr_jianj"><span>{yun:}$clist.name_n{/yun}</span> {yun:}$clist.content{/yun}&hellip;&hellip;</div> 
							{yun:}foreach from=$clist.jobs key=key item=jlist{/yun} 
								{yun:}if $key<3{/yun}
								<div class="z_nr_ios f16"><a href="{yun:}$jlist.joburl{/yun}" target="_blank">{yun:}$jlist.name_n{/yun}</a><em class="fr">￥{yun:}$jlist.salary{/yun}</em></div>
								{yun:}/if{/yun}	
							{yun:}/foreach{/yun} 
							<div class="clear"></div>
						 </div>
					</div>
					<div class="z_nr_more01"><a href="{yun:}url m=company c=show id='`$clist.uid`'{/yun}#job" target="_blank">查看更多职位 >></a></div>
				</li>
				{yun:}/specialcom{/yun}  
			</ul>
		</div>
	</div> 
</div>
<div class="clear"></div>
</div>
{yun:}include file="$tplstyle/footer.htm"{/yun}
