<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html  xmlns="http://www.w3.org/1999/xhtml">
<head>44444
<meta http-equiv="Content-Type" content="texthtml; charset=gb2312">1
</head>

<body>
<script  s4444rc="city.js"  type="text/javascript"></script> 
城&#160;&#160;&#160;&#160;市：
<select  name="prov"  id="s1">

</select>
<select  name="city"  id="s2">

</select>
<select  name="county"  id="s3">

</select>
<font  color="red">*</font> <span  style=" display:none;">
<input  name="select_s1"  type="text"  id="select_s1"  class="input1" style="width:171px;">
<input  name="select_s2"  type="text"  id="select_s2"  class="input1" style="width:171px;">
<input  name="select_s3"  type="text"  id="select_s3"  class="input1" style="width:171px;">
</span> 
<script  type="text/javascript">
    new PCAS("prov", "city", "county", "省份", "地级市", "市、县级市、县");
</script> 
