<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name=keywords content="{yun:}$keywords{/yun}">
<META name=description content="{yun:}$description{/yun}">
<link href="{yun:}$ask_style{/yun}/style/style.css" type="text/css" rel="stylesheet" />
         <!--[if IE 6]>
        <script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
        <script>
          DD_belatedPNG.fix('.png,.attention .watch_gz');
        </script>
        <![endif]-->
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" type="text/javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script>
<script src="{yun:}$ask_style{/yun}/js/question.js" type="text/javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script type="text/javascript"> 
var weburl="{yun:}$config.sy_weburl{/yun}";
var searchurl="{yun:}url m=ask c=autosearch{/yun}";
var keyurl="{yun:}url m=ask{/yun}/index.php?c=search";
</script>
</head>
<body>
<div class="top_lietou">
  <div class="top_cot">
    <div class="top_cot_content">
      <div class="top_left fl">
        <div class="yun_welcome fl">欢迎来到{yun:}$config.sy_webname{/yun}！</div>
      </div>
      <div class="top_right_re fr">
        <div class="top_right">
          <div class="yun_topNav fr"> 
		  <a class="yun_navMore" href="javascript:;">网站导航</a>
            <div class="yun_webMoredown" style="display:none">
              <div class="yun_top_nav_box"> 
			  {yun:}navmap key=key item=navmap{/yun}
                <div class="yun_top_nav_h1">
				<a href="{yun:}$navmap.url{/yun}" {yun:}if $navmap.eject{/yun} target="_blank"{yun:}/if{/yun}> {yun:}$navmap.name{/yun}</a>
				</div>
                <ul>
                  {yun:}foreach from=$navmap.list item=maplist{/yun}
                  <li><a href="{yun:}$maplist.url{/yun}" {yun:}if $maplist.eject{/yun} target="_blank"{yun:}/if{/yun}> {yun:}$maplist.name{/yun}</a></li>
                  {yun:}/foreach{/yun}
                </ul>
                {yun:}/navmap{/yun} </div>
            </div>
          </div> 
          {yun:}readloginhead{/yun}
        </div>
      </div>
    </div>
  </div>
</div>	
 <div class="clear"></div>
<div class="ask_header">
<div class="ask_header_cont">
<div class="logo fl"><a href="{yun:}$config.sy_weburl{/yun}"><img class="png" src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_logo{/yun}" /></a></div>
<div class="search">
		<div class="search_con">
			<div class="seek">
				<form action="index.php" name="myform" method="get" target="_blank" autocomplete="off">
				<div class="seek_con">
					<div class="seek_det">  
						{yun:}if  !$config.sy_askdir{/yun}<input name='m' type='hidden' value='ask'>{yun:}/if{/yun}
						<input name='c' type='hidden' value='search'>
						<input type="text" name='keyword'  placeholder="请输入关键字" class="txt" autocomplete="off"/>
						<span class="icon"></span>
					</div>
					<div class="seek_sear"><input type="submit" class="btn"  value="搜一下"/></div>
				</div>
				</form>
				<div class="seek_menu">
					<ul> 
						<span class="searchli"></span>
						<li class="option">搜索：<a href="#" target="_blank"></a></li>
						<li class="me_quiz"><span>
						{yun:}if $uid{/yun}
							<a href="{yun:}url m=ask c=addquestion{/yun}" target="_blank">我要提问</a>
						{yun:}else{/yun}
							<a href="javascript:void(0);" onclick="showlogin('');">我要提问</a>
						{yun:}/if{/yun}</span>
						</li>
					</ul>
				</div>
			</div>
            <div class="header_ask_ask">
        {yun:}if $uid{/yun}
				<a href="{yun:}url m=ask c=addquestion{/yun}" target="_blank">我要提问</a>
			{yun:}else{/yun}
				<a href="javascript:void(0);" onclick="showlogin('');">我要提问</a>
			{yun:}/if{/yun}
	</div>
		</div>
	</div>
</div>

</div>
<div class="ask_header_nav">
	<div class="ask_header_nav_cont"> 
		<ul> 
			<li {yun:}if $navtype==''{/yun}class="cur"{yun:}/if{/yun}><a href="{yun:}url m=ask{/yun}">首页</a></li>
			<li {yun:}if $navtype=='topic'{/yun}class="cur"{yun:}/if{/yun}><a href="{yun:}url m=ask c=topic{/yun}">话题</a></li>
			<li {yun:}if $navtype=='hotweek'{/yun}class="cur"{yun:}/if{/yun}><a href="{yun:}url m=ask c=hotweek{/yun}">一周热点</a></li>	 
			{yun:}if $cookie.uid && ($smarty.get.uid=='' || $smarty.get.uid==$cookie.uid){/yun} 
			<li {yun:}if $smarty.get.c=='friend'{/yun}class="cur"{yun:}/if{/yun}><a href="{yun:}url m=ask c=friend uid=$cookie.uid{/yun}">我的主页</a></li> 
			{yun:}elseif $smarty.get.uid{/yun}
			<li {yun:}if $smarty.get.c=='friend'{/yun}class="cur"{yun:}/if{/yun}><a href="{yun:}url m=ask c=friend uid=$smarty.get.uid{/yun}">他的主页</a></li>
			{yun:}/if{/yun}
			<li><a href="{yun:}$config.sy_weburl{/yun}">进入人才网首页</a></li>
		</ul> 
	</div>
</div>
<div class="clear"></div>
{yun:}include file="$tplstyle/public_search/login.htm"{/yun} 