<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$client{/yun}/style/css.css" type="text/css">
</head>
<!--[if IE 6]>
<script src="js/png.js"></script>
<script>
DD_belatedPNG.fix('.png,.pagination li a');
</script>
<![endif]-->
<body>
{yun:}include file="$tplstyle/client_header.htm"{/yun}
<div class="ios_banner">
  <div class="ios_banner_980">
    <div class="ios_banner_left"><img src="{yun:}$client{/yun}/images/ios_photo.png" class="png"></div>
    <div class="ios_banner_right">
      <div class="ios_banner_img1"><img src="{yun:}$client{/yun}/images/ios_img2.png" class="png"></div>
      <div class="ios_banner_img_sub"><a href="javascript:;" onclick="GoBottom();"><img src="{yun:}$client{/yun}/images/ios_sub.png" class="png"></a></div>
      <a href="javascript:;" onclick="GoBottom();">
      <script>
	var currentPosition,timer; 
	var i; 
    function GoBottom(){  
		i=5
        currentPosition=document.documentElement.scrollTop || document.body.scrollTop; 
        timer=setInterval("runToBottom()",1);  
    }  
    function runToBottom(){   
		i=i+0.5; 
        currentPosition+=i;  
        if(currentPosition<document.body.clientHeight)  
        {  
            window.scrollTo(0,currentPosition);  
        }  
        else  
        {  
            window.scrollTo(0,document.body.clientHeight);  
            clearInterval(timer);  
        }  
    }  
</script>
      <div class="ios_banner_img2"><img src="{yun:}$client{/yun}/images/yun_appcom.png" class="png"></div>
      </a></div>
    <a href="javascript:;" onclick="GoBottom();"> </a></div>
  <a href="javascript:;" onclick="GoBottom();"> </a></div>
<a href="javascript:;" onclick="GoBottom();">
<div class="clear"></div>
</a>
<div class="w980"><a href="javascript:;" onclick="GoBottom();">
  <div class="feature fl"><img src="{yun:}$client{/yun}/images/feature.gif"></div>
  </a>
  <div class="feature_main fl"><a href="javascript:;" onclick="GoBottom();"> </a>
    <dl>
     
      <dt><img src="{yun:}$client{/yun}/images/feature_01.gif"></dt>
   
      <dd>
        <div class="feature_h">附近的工作</div>
        <div class="feature_text">精准定位，让您走到哪，都能随时发现身边的好工作。</div>
      </dd>
    </dl>
    <dl>
      <dt><img src="{yun:}$client{/yun}/images/feature_02.gif"></dt>
      <dd>
        <div class="feature_h">推荐职位</div>
        <div class="feature_text">根据您的求职意向，精心推荐按合适的职位，好工作“手到擒来”。</div>
      </dd>
    </dl>
    <dl>
      <dt><img src="{yun:}$client{/yun}/images/feature_03.gif"></dt>
      <dd>
        <div class="feature_h">职位申请</div>
        <div class="feature_text">发现惊喜的救你一键申请吧。主动出击，快速捕获HR的芳心。</div>
      </dd>
    </dl>
    <dl>
      <dt><img src="{yun:}$client{/yun}/images/feature_04.gif"></dt>
      <dd>
        <div class="feature_h">面试通知</div>
        <div class="feature_text">及时向您推送收到的面试通知，使招聘更加高效</div>
      </dd>
    </dl>
    <dl>
      <dt><img src="{yun:}$client{/yun}/images/feature_05.gif"></dt>
      <dd>
        <div class="feature_h">应聘邀请</div>
        <div class="feature_text">企业HR邀请您申请职位，千载难逢，千万不要错过机会哦！</div>
      </dd>
    </dl>
    <dl>
      <dt><img src="{yun:}$client{/yun}/images/feature_06.gif"></dt>
      <dd>
        <div class="feature_h">就业咨询</div>
        <div class="feature_text">提供最全面的求职资讯信息，您要的这里全都有。</div>
      </dd>
    </dl>
  </div>
</div>
<div class="index_list fl">
  <div class="index_list_one bgf5 fl">
    <div class="w980">
      <div class="index_phone fl"><img src="{yun:}$client{/yun}/images/list01.gif"></div>
      <dl class="index_list_text ml76 fl">
        <dt><img src="{yun:}$client{/yun}/images/text_01.gif"></dt>
        <dd>简单直接的将信息展示出来，减少认知障碍，真正做到简约不简单。</dd>
      </dl>
    </div>
  </div>
  <div class="index_list_one fl">
    <div class="w980">
      <div class="index_phone fr"><img src="{yun:}$client{/yun}/images/list02.gif"></div>
      <dl class="index_list_text ml170 fl">
        <dt><img src="{yun:}$client{/yun}/images/text_02.gif"></dt>
        <dd>细分搜索条件，层层筛选职位，帮助您轻送找到如意的好工作。</dd>
      </dl>
    </div>
  </div>
  <div class="index_list_one bgf5 fl">
    <div class="w980">
      <div class="index_phone fl"><img src="{yun:}$client{/yun}/images/list01.gif"></div>
      <dl class="index_list_text ml76 fl">
        <dt><img src="{yun:}$client{/yun}/images/text_03.gif"></dt>
        <dd>查看企业面试通知、留言并回复，让您随时随地接收面试邀请。</dd>
      </dl>
    </div>
  </div>
  <div class="index_list_one fl">
    <div class="w980">
      <div class="index_phone fr"><img src="{yun:}$client{/yun}/images/list04.gif"></div>
      <dl class="index_list_text ml170 fl">
        <dt><img src="{yun:}$client{/yun}/images/text_04.gif"></dt>
        <dd>及时刷新简历信息，使求职更加高效，使您不再错过任何一个机会。</dd>
      </dl>
    </div>
  </div>
</div>
<div style="clear:both"></div>
<div class="android_bot">
  <div class="android_bot_cont">
    <div class="android_bot_left">
      <div class="ios_bot_h1">苹果版个人求职版下载</div>
      <div class="android_bot_bth"><a href="###"><img src="{yun:}$client{/yun}/images/ios_bth1.png"></a></div>
      <div class="android_bot_bth_p">更新时间：2014年03月03日<br>
        软件容量：2.31M<br>
        支持系统：ios5.5及以上. <br>
      </div>
      <div class="android_bot_ewm"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_iosu_qcode{/yun}"></div>
    </div>
    <div class="android_bot_right">
      <div class="ios_bot_h1 ios_bot_h1_blue">苹果版企业招聘版下载</div>
      <div class="android_bot_bth"><a href="###"><img src="{yun:}$client{/yun}/images/ios_bth2.png"></a></div>
      <div class="android_bot_bth_p">更新时间：2014年03月03日<br>
        软件容量：2.31M<br>
        支持系统：ios5.5及以上. <br>
      </div>
      <div class="android_bot_ewm"><img src="{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_iosc_qcode{/yun}"></div>
    </div>
  </div>
</div>
<div style="clear:both"></div>
{yun:}include file="$tplstyle/client_footer.htm"{/yun}
