{yun:}include file="$userstyle/header.htm"{/yun}
<div class="w950">
    {yun:}include file="$userstyle/left.htm"{/yun}
    <div class="mian_right fltR mt12 re">
        <div class="member_right_h1 fltL">
            <span class="member_right_span fltL">关注的企业</span>
        </div>
        <div class="resume_box_list">
        {yun:}if !empty($rows){/yun}
            <div class="List_Ope List_Title ">
                <span class="List_Title_span List_Title_w260">企业名称</span>
                <span class="List_Title_span List_Title_w260">正在招聘</span>
                <span class="List_Title_span List_Title_w120">关注时间</span>
                <span class="List_Title_span List_Title_w80">操作</span>
            </div>
            {yun:}/if{/yun}
            {yun:}foreach item=log from=$rows{/yun}
            <div class="List_Ope List_Ope_bor">
                <span class="List_Title_span List_Title_w260">
                    <a href="{yun:}url m=company c=show id='`$log.sc_uid`'{/yun}" target="_blank" class="List_Title_span_com">{yun:}$log.com_name{/yun}&nbsp;</a>
                </span>
                <span class="List_Title_span List_Title_w260">
                    {yun:}if $log.jobnum>0{/yun}
                    {yun:}$log.jobname{/yun} 
                    <a href="{yun:}url m=company c=show id='`$log.sc_uid`'{/yun}#job" class="gz_job_n">共{yun:}$log.jobnum{/yun}个职位>></a>
                    {yun:}else{/yun}
                    暂无职位
                    {yun:}/if{/yun}
                    &nbsp;
                </span>
                <span class="List_Title_span List_Title_w120">{yun:}$log.time|date_format:'%Y-%m-%d'{/yun}</span>
                <span class="List_Title_span List_Title_w80"><a href="javascript:void(0)" onclick="layer_del('您确定要取消关注？', '{yun:}$config.sy_weburl{/yun}/member/index.php?c=atn&act=del&id={yun:}$log.id{/yun}&uid={yun:}$log.sc_uid{/yun}');" class="cblue">取消关注</a>
                </span>
            </div>
            {yun:}foreachelse{/yun}
            <div class="msg_no">暂未关注任何企业</div>
            {yun:}/foreach{/yun}
            <div class="clear"></div>
            <div class="diggg">{yun:}$pagenav{/yun}</div>
        </div>
    </div>
</div>
{yun:}include file="$userstyle/footer.htm"{/yun} 