<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
 <meta http-equiv="Cache-Control" content="no-cache"/>
 <title>{yun:}$title{/yun}{yun:}$config.sy_webname{/yun} -  手机人才网</title>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta http-equiv="X-UA-compatible"content="IE=edge">
 <meta name="viewport" content="width=device-width" initial-scale="1">
 <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no, width=device-width">
 <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/font-awesome.min.css" type="text/css">
 <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/css.css" type="text/css">
 <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/css/job.css" type="text/css">
 <link rel="stylesheet" href="{yun:}$config.sy_weburl{/yun}/app/template/wap/js/prefixfree.min.js">
 <script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
 <script src="{yun:}$config.sy_weburl{/yun}/app/template/wap/js/layer/layer.m.js" language="javascript"></script>
 <script src="{yun:}$config.sy_weburl{/yun}/app/template/wap/js/public.js" language="javascript"></script>
 <script type="text/javascript">
  function show(obj){
   var obj=document.getElementById(obj);  //获得id为b的容器
	  //如果下面的内容显示的话就隐藏
	  if(obj.style.display=="block"){
	     obj.style.display="none";
	  }else 
	  obj.style.display="block";
}
 </script>
 </head>
 <body>

<header>
   <div class="header">
    <div class="header_bg"> <a class="hd-lbtn" href="javascript:history.back();"><i class="header_top_l fa fa-chevron-left"></i></a>
       <div class="header_h1">{yun:}$title{/yun}</div>
     </div>
  </div>
 </header>