<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{yun:}$title{/yun}</title>
<META name="keywords" content="{yun:}$keywords{/yun}">
<META name="description" content="{yun:}$description{/yun}">
<link rel="stylesheet" href="{yun:}$style{/yun}/style/css.css" type="text/css">
<!--[if IE 6]>
<script src="{yun:}$config.sy_weburl{/yun}/js/png.js"></script>
<script>
DD_belatedPNG.fix('.png');
</script>
<![endif]--> 
<script src="{yun:}$config.sy_weburl{/yun}/js/jquery-1.8.0.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/layer/layer.min.js" language="javascript"></script> 
<script src="{yun:}$config.sy_weburl{/yun}/js/lazyload.min.js" language="javascript"></script>
<script src="{yun:}$config.sy_weburl{/yun}/js/public.js" language="javascript"></script>
<script src="{yun:}$style{/yun}/js/special.js" language="javascript"></script>
<link rel="stylesheet" type="text/css" href="{yun:}$style{/yun}/special/css/css.css">
</head>
<script language="javascript">
var pricename='{yun:}$config.integral_pricename{/yun}'; 
</script>
<body>
{yun:}include file="$tplstyle/header.htm"{/yun}

<!--header头部-->
<div class="c_z_header">
<div class="c_z_banner"><img src="{yun:}$style{/yun}/special/images/z_banner01.png" width="100%" height="419"/></div>
</div>

<!--header头部结束-->


<!--内容content-->
<div class="c_z_content">
<div class="wrap" >
{yun:}if !$isapply{/yun}
<div style="width:100%; float:left; position:relative">
<input type='button' value="我要报名" onclick="comapply('{yun:}$info.id{/yun}','{yun:}$info.integral{/yun}','{yun:}url m=special c=apply{/yun}')" class="c_z_head_btn" style="right:0px;top:-70px;">
</div>
{yun:}/if{/yun}
<div class="c_z_cmg01">
    <div class="c_z_cmg">
    <ul>
	{yun:}specialcom sid='auto.id' namelen=10 jobnamelen=6 item=clist{/yun}
    <li> 
		<div class="c_z_cmgb joblist">
			<div class="c_cmg_tupian"><a href="{yun:}$clist.comurl{/yun}" target="_blank"><img src="{yun:}$clist.logo{/yun}" width="216" height="118" onerror="showImgDelay(this,'{yun:}$config.sy_weburl{/yun}/{yun:}$config.sy_unit_icon{/yun}',2);"/></a></div>
			<div class="c_cmg_cont">
				<div class="c_cont_titdh"><a href="{yun:}$clist.comurl{/yun}" target="_blank">{yun:}$clist.name_n{/yun}</a></div>
				<div class="c_cont_didian">
				{yun:}foreach from=$clist.jobs item=jlist{/yun}
				
				<span><b>&middot;</b> <a href="{yun:}$jlist.joburl{/yun}" target="_blank">{yun:}$jlist.name_n{/yun}</a></span>
				
				{yun:}/foreach{/yun}
				</div> 
			</div>
		</div> 
		<div class="c_z_cmgb c_z_cmgb01"> 
			<div class="c_cmg_cont">
				<div class="c_cont_titdh02">{yun:}$clist.name{/yun}</div>
				<div class="c_cont_didian02">公司所在：{yun:}$clist.provinceid{/yun}  {yun:}$clist.cityid{/yun}</div>
				<div class="c_cont_didian02">所属行业：{yun:}$clist.hy{/yun}</div>
				<div class="c_cont_didian02">公司规模：{yun:}$clist.mun{/yun}</div>
				<div class="c_cont_didian02">公司性质：{yun:}$clist.pr{/yun}</div>
				<div class="c_cont_xiangq"><a href="{yun:}$clist.comurl{/yun}" target="_blank">查看详情</a></div>
			</div>
		</div>
    </li>
    {yun:}/specialcom{/yun} 
    </ul>
    </div>
</div>
</div>
<div class="clear"></div>
</div>
{yun:}include file="$tplstyle/footer.htm"{/yun}
