@charset "gb2312";
/*工具箱*/
.Toolbox_left{width:670px; background:#fff; float:left; padding-left:10px; padding-right:10px;}
.Toolbox_h1{width:100%;height:40px; line-height:40px;color:#333;border-bottom:1px solid #eee; font-size:18px;  text-indent:10px;font-family:微软雅黑;}
.Toolbox_list{width:100%;border-bottom:1px solid #efefef; float:left; padding:10px 0;}
.Toolbox_list_img{width:72px; float:left}
.Toolbox_list_cont{width:450px; float:left; padding-left:15px;}
.Toolbox_list_h1{ font-size:16px; font-weight:bold}
.Toolbox_list_p{ line-height:20px; margin-top:5px;}
.Toolbox_list_r{width:100px; float:left; margin-top:25px; padding-left:20px;}
.Toolbox_list_more{ display:inline-block;width:99px;height:30px; line-height:30px; text-align:center; border-radius:3px; background:#ff7f00;color:#fff;}
.Toolbox_list_more:hover{ background:#f60;color:#fff; text-decoration:none}
.Toolbox_right{width:278px; float:right;}
.Toolbox_right_box{width:100%; float:left; background:#fff;}
.Toolbox_search{width:100%;height:40px; background:#3b8ee3; float:left}
.Toolbox_search_text{width:210px;height:30px; background:#fff;border:none; line-height:30px; float:left; margin-top:5px; margin-left:5px;color:#999; text-indent:10px;}
.Toolbox_search_sub{width:50px;height:30px; float:left;color:#fff; font-weight:bold; background:#f27312;border:none;margin-top:5px; margin-left:5px; cursor:pointer}
.Toolbox_Ranking_h1{width:100%; font-family:微软雅黑; font-size:16px;height:40px; line-height:40px;border-bottom:1px solid #d3d3d3; float:left; text-indent:10px;}
.Toolbox_Ranking_list{ width:268px;padding:5px; float:left}
.Toolbox_Ranking_list li{width:100%; float:left;border-bottom:1px dashed #e5e5e5; padding-top:10px; padding-bottom:10px; line-height:18px;}
.Ranking_no{width:18px;height:18px; background:#cdcdcd; line-height:18px; text-align:center; font-size:14px;color:#fff; display:inline-block; float:left; font-family:微软雅黑;}
.Ranking_name{width:160px; display:block; padding-left:10px; float:left}
.Ranking_cs{ display:block; float:left;width:30px;color:#aa99bb}
.Ranking_no_mc{ background:#3b8ee3}
.Toolbox_Ranking_list_new li{width:258px; padding-left:10px; background:url(../images/new_li.png) no-repeat left center}
.Toolbox_content_h1{width:100%;height:40px; background:#3b8ee3; float:left}
.Toolbox_content_span{ display:block; float:left; padding-left:20px; font-size:18px;color:#fff; line-height:40px;font-family:微软雅黑;}
.Toolbox_content_search{ margin-right:5px;}
.Toolbox_content_box{width:100%; background:#fff; float:left; padding-top:10px; padding-bottom:10px;}
.Toolbox_content_box_left{width:170px; float:left; padding-left:5px;}
.Toolbox_content_nav{width:100%;}
.Toolbox_content_nav li{width:170px; height:30px; line-height:30px; font-size:14px; margin-top:3px; background:#FAFAFA}
.Toolbox_content_nav li a{ display:block;padding-left:30px;}
.Toolbox_content_nav .Toolbox_content_nav_cur{ background:#3b8ee3;}
.Toolbox_content_nav .Toolbox_content_nav_cur a{ font-weight:bold;color:#fff;}
.Toolbox_content_nav li a:hover{background:#3b8ee3; font-weight:bold;color:#fff; text-decoration:none}
.Toolbox_content_box_right{width:780px; float:left; padding-left:20px;}
.Toolbox_content_list{width:100%;}
.Toolbox_content_list li{width:250px; float:left; font-size:14px; height:33px; line-height:33px; padding-left:10px; background:url(../images/t_libg.jpg) no-repeat left 13px;}
.Toolbox_content_list li a{color:#666; float:left}
.Toolbox_content_list li a:hover{color:#f60}
.Toolbox_down{ float:right;width:40px;height:18px; line-height:18px;color:#fff;text-align:center; background:#f60;border-radius:3px;}
.Toolbox_down:hover{ text-decoration:none; background:#f30;color:#fff;}
.Toolbox_down_span{ display:inline-block; float:left;width:200px;height:18px; line-height:18px; overflow:hidden;}
.news_show_pages{width:100%; margin-top:10px;}

.news_show_pages  li {display: block;float: left;height: 25px;line-height: 25px;overflow: hidden;width: 298px;}
.news_show_pages  li span {color: #077AC7;font-weight: bold;}
.news_show_pages  li a {color: #000000;font-weight: bold;}
.news_show_pages li a:hover {color: #FF6600;}
 .news_ul_news li {width:300px; float:left; line-height:26px;}
 .news_ul_news li a {color: #666666;font-weight: normal;}
.news_show_wz{ font-size:12px; font-weight:bold; padding-top:10px; padding-bottom:10px;}
.Toolbox_content_msg{width:100%; float:left; padding-top:50px; text-align:center; font-size:20px;}


/*资讯*/
.wrap{ width:1000px; margin:0 auto;}
.pb10{ padding-bottom:10px;}
/*left*/
.zx_cont_main h1{ font-size:24px; font-weight:normal; color:#14171b;}
.zx_inner_left{ width:686px; padding-bottom:5px;}
.zx_show_cont{width:670px; padding:20px;border:1px solid #eee; overflow:hidden}
.zx_show_cont_h1{width:100%; text-align:center; padding:5px 0;}
.zx_main_source{ height:55px; line-height:55px; border-bottom:1px dotted #e1e1e1; text-align:center}
.zx_main_source_r{ margin-left:15px;}
.zx_main_source ul li{ color:#282b2d; padding-right:27px; float:left;}
.zx_main_source em{ color:#999;}
.zx_main_source span{ display:inline-block; }
.zx_main_source ul .sour_share{ _padding-top:18px;}
.zx_main_source ul .sour_share em{ }
.zx_main_source ul .sour_share span{ float:left;}
.zx_main_source a{ color:#1369c0;}
.zx_main_source a:hover{color:#CD0200;}
.zx_well_flip{ line-height:38px; border-top:1px solid #ddd; border-bottom:1px solid #ddd; margin-top:30px;}
.zx_well_flip span{ width:313px; float:left; padding-left:10px; color:#827a7a;}
.zx_well_flip span a{ color:#1369c0;}
.zx_well_flip span a:hover{color:#CD0200;}
.zx_well_with{ padding-top:20px;}
.zx_with_recom{ line-height:41px; background:#f4f4f4; font-size:18px; color:#303234; padding-left:13px;}
.zx_with_list{ font-size:14px; padding-top:10px;}
.zx_with_list ul{ width:333px; float:left;}
.zx_with_list ul li{ line-height:28px; padding-left:13px; background:url(../images/zx_point.png) no-repeat 3px center;}
.zx_with_list ul li a{ color:#291c1c;}
.zx_with_list ul li a:hover{ color:#CD0200;}
.newss_cblue{color:#1369c0}
/*right*/
.zx_inner_right{ width:270px;}
.zx_rig_rom{ width:100%; padding-bottom:25px;}
.zx_article{ border:1px solid #eee; margin-bottom:20px;}
.zx_art_tit{ font-size:16px; line-height:38px;height:38px; background:#f8f8f8; color:#3c5065; padding-left:20px; position:relative}
.Company_h1_line{display: block;width:5px;height: 18px;background: #1369c0;position: absolute;left: 0px;top: 10px;}
.zx_art_hot{ padding:20px 0px 8px 10px;}
.zx_art_hot dl dt{ width:98px; float:left;}
.zx_art_hot dl dd{ float:left; width:154px;}
.art_fanfu{ font-size:16px;  margin-bottom:2px;}
.art_fanfu a{color:#291c1c;}
.art_fanfu a:hover{color:#CD0200;}
.art_xq{ color:#948d8d; line-height:24px;}
.zx_art_list{ font-size:14px; padding:10px;}
.zx_art_list ul li{ line-height:28px; background:url(../images/zx_point.png) no-repeat left center; padding-left:10px;}
.zx_art_list ul li a{ color:#291c1c;}
.zx_art_list ul li a:hover{ color:#CD0200;}
/*资讯-列表*/
.zx_part_hd{ font-size:18px; color:#1369c0; line-height:42px; border-bottom:1px solid #ddd;}
.zx_part_lists{}
.zx_part_lists dl{ width:100%;padding:17px 0px 20px 0px; border-bottom:1px solid #ddd; float:left;}
.zx_part_lists dl dt{ float:left; display:inline; width:115px; height:82px;}
.zx_part_lists dl dd{ float:left; width:100%; color:#656565;}
.zx_part_bt{ line-height:25px; margin-top:-2px; padding-bottom:8px;}
.zx_part_bt a{ font-size:18px; color:#444444;}
.zx_part_bt a:hover{ color:#CD0200;}
.zx_part_nr{ line-height:25px;}
.zx_art_content{ font-size:14px;color:#666; line-height:30px; padding-top:20px;}

/*before css*/

.news_Slideshow {width:316px;background:#f9f9f9;border:1px solid #ddd;position:relative;height:245px;}
.news_Slideshow img {width:316px;height:245px;}
.news_top_right {width:666px; height:246px; border:1px solid #d7d6d6;}
.news_top_right dl {padding-bottom:5px; width:100%;}
.news_top_right dl dt {width:100%;padding-bottom:10px;float:left}
.news_top_right dl dt a {font-size:16px;color:#1369c0;}
.news_top_right dl dt a:hover {color:#f60;}
.news_top_right dl dt em {font-size:12px; color:#999; font-family:"宋体";}
.news_top_right dl dd {width:100%;line-height:18px;float:left;color:#999; font-size:12px;}
.news_top_right dl dd a {color:#1369c0}
.news_top_right ul {padding-bottom:10px;}
.news_top_right ul li {width:300px;float:left;height:29px;line-height:29px;background:url(../images/news_icon1.png) no-repeat 3px center;padding-left:15px; overflow:hidden;}
.news_top_right ul li p{ overflow:hidden; text-overflow:ellipsis; width:296px; white-space:nowrap;}
.news_top_right ul li p a {float:left; font-size:12px; color:#666;}
.news_top_right ul li em {float:right;margin-right:10px;}
.news_cont {width:100%; margin-bottom:5px;;background:url(../images/news_line.png) repeat-y;}
.news_sort_list {width:312px;border-right:1px solid #d7d6d6;border-top:1px solid #d7d6d6;border-bottom:1px solid #d7d6d6;position:relative;padding:10px 10px 0;margin-top:12px;height:320px;overflow:hidden;}
.news_sort_list dl {width:100%;float:left;}
.news_sort_list dl dt {width:113px;float:left}
.news_sort_list dl dt img {display:block}
.news_sort_list dl dd {width:190px;float:left;padding-left:8px;line-height:20px;color:#575757;}
.news_sort_list dl dd strong {display:block;margin-bottom:10px;color:#000;}
.news_sort_list dl dd a {color:#F00}
.news_sort_list dl dd p{ width:190px; height:20px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; padding-bottom:5px;}
.news_sort_list dl dd p a {color:#1369c0; font-weight:normal; font-size:17px;}
.news_sort_list dl dd span{ color:#a9a9a9;}
.news_sort_list ul {width:100%;float:left; padding-top:5px; }
.news_sort_list ul li {height:29px;line-height:29px;*height:auto; _line-height:25px;background:url(../images/news_icon2.png) no-repeat 8px 13px; padding-left:20px; font-size:14px; }
.news_sort_list ul li a {float:left; color:#444d56;}
.news_sort_list ul li em {float:right;color:#5d5d5d}
.news_sort_title {width:32px;height:129px;background-position:-253px -32px;color:#fff;font-size:14px;position:absolute;left:-28px;top:-10px;font-weight:bold}
.news_sort_title span {padding-left:8px;display:block;margin-top:10px;}
.news_left {background:#FFFFFF;border: 1px solid #E1E1E1;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);width: 239px;padding:2px;}
.news_left_cont {float:left}
.news_left dl {width:100%;background:url(../images/yun_icodd.jpg) repeat-x bottom;margin-top:10px;float:left;padding:0 0 10px 0;}
.news_left dl dt {border:1px solid #ccc;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);width:106px;padding:2px;float:left;margin-left:5px;_margin-left:3px;background:#fff;}
.news_left dl dt img {display:block;}
.news_left dl dd {width:110px;padding-left:8px;line-height:18px;float:left;color:#666;word-break: break-all;}
.news_left dl dd strong {width:100%;height:20px;line-height:20px;display:block;overflow:hidden}
.news_left dl dd strong a {color:#000}
.news_left dl dd a {color:#C00}
.news_left ul {float: left;padding: 6px 0px  10px 11px;width: 220px;}
.news_left ul li {float: left;height: 33px;line-height: 33px;width: 223px;}
.news_left ul li a {background-position: -1px -69px;display: block;padding-left: 10px;}
.news_left ul li a:hover {background:#b9cdee;color:#fff;text-decoration:none}
.news_right_sidebar{width:710px;border:1px solid #ddd; background:#fff; padding-left:10px; padding-bottom:10px;}
.news_right_list {width:690px;border-bottom:1px dotted #CAC7C7;padding:10px 0 15px 10px; }
.news_right_list_h1 {width:100%;float:left;}
.news_right_list_h1 a {display:block;float:left;font-size:14px;font-weight:bold;color:#606060;background:url(../images/yun_icodd2.jpg) no-repeat left center;padding-left:10px;}
.news_right_list_h1 em {float:right}
.news_right_list_p {float:left;line-height:23px;color:#9e9e9e;margin-top:10px;padding:0 0px 0 10px}

/*职场资讯*/
.news_ban{ width:333px; height:247px; position:relative; z-index:1;}
.news_ban ul li{}
.news_ban ul li{}
.news_ban ul li img{ width:333px; height:247px;}
.news_ban_con{ background:url(../images/news_bg2.png) repeat; height:30px; line-height:30px; position:absolute; bottom:0; left:0; z-index:10; width:100%; float:left;}
.news_ban_con a{ font-size:12px; color: #fff; padding-left:9px;}
.new_top_right_con{ padding:12px 12px 5px 12px;}
.news_ind_tit{ font-family:"微软雅黑"; border-bottom:2px solid #ededed; margin-bottom:12px; position:relative; z-index:1; line-height:24px; padding-bottom:9px; display:block; height:24px;}
.news_ind_tit span{ font-size:18px; color:#333; border-bottom:2px solid #3687c8; position:absolute; left:0; top:0; z-index:20; padding-bottom:9px; padding-right:6px; display:block;*padding-bottom:9px;}
.news_ind_tit a{ color:#676767; font-size:12px; float:right;}
.yun_content_con{ padding-top:12px; overflow:hidden;}
.at_list{width:100%;}
.at_list li{width:100%; float:left;border-bottom:1px solid #ddd; padding:15px 0; background:url(../images/bul_cir_blue.gif) no-repeat left center; font-size:14px;}
.at_list li a{ padding-left:14px; float:left}
.at_list li .at_list_r{ float:right;color:#999}
