@charset "gb2312";
/* CSS Document */
.job_fairs {width:992px;border:1px solid #dcdcdc;background:#fff;padding:3px;position:relative;margin:0px 0 15px 0}
.job_fairs_box {width:100%;padding-bottom:20px;}

.job_fairs_box_left{width:525px;padding-right:35px;position:relative;z-index:10}
.job_fairs_box_h1 {width:100%;height:50px;line-height:50px;font-size:24px;color:#5c9efc;font-family:微软雅黑;background:url(../images/yun_zph_line.png) no-repeat bottom;text-align:center}
.job_fairs_box_h1_c {color:#ccc}
.job_fairs_box_h1_0 {color:#666;}
.fairs_Status {width:63px;height:63px;position:absolute;right:-5px;top:-5px;text-indent:-9999px;}
.job_fairs_In {background:url(../images/zph_icon5.png) no-repeat;}
.job_fairs_end {background:url(../images/zph_icon6.png) no-repeat;}
.job_fairs_nostart {background:url(../images/zph_icon4.png) no-repeat;}
.job_fairs_box_p {color:#777;line-height:22px;text-indent:30px;margin-top:10px;}
.job_fairs_box_ul {}
.job_fairs_box_ul li {font-size:14px;line-height:30px; _width:500px; _height:auto;}
.job_fairs_box_ul li span {color:#898783;}
.job_fairs_sub {width:100%; margin-top:10px;}
.fairs_yd {width:105px;height:32px;display:inline-block; background:#e57218; color:#fff; text-align:center; line-height:31px;margin-right:10px; border-radius:2px; font-size:14px;}
.fairs_ch {width:105px;height:32px;display:inline-block; background:#2c81d6;color:#fff; text-align:center; line-height:31px;margin-right:10px; border-radius:2px; font-size:14px;}
.fairs_yd:hover{background:#d1630c; color:#fff; text-decoration:none;}
.fairs_ch:hover{background:#1369c0; color:#fff; text-decoration:none;}

.fairs_xq {width:105px;height:30px;display:inline-block;background-position: 0 -70px;}
.job_fairs_box_right {margin:20px 0 0 20px;_margin-left:10px;}
.job_fairs_box_right img {display:block; }
.fairs_introduction {width:100%;}
.fairs_introduction_h1 {width:100%;height:30px; background: #f7f7f7; padding-top:10px;position:relative; }
.fairs_introduction_h1 span {display:inline-block;font-size:16px;font-family:微软雅黑;padding-left:16px;padding-right:20px;position:absolute;left:0px;border-left:4px solid #2c81d6; height:16px; line-height:16px;}
.fairs_introduction_p {font-size:14px;line-height:25px;color:#282828;padding:20px;}
.fairs_introduction_img li {width:215px;margin-right:20px;_marin-left:10px;float:left;border:1px solid #e2e2e2;background:#fff;padding:2px;}
.fairs_introduction_img li img {display:block}
.job_fairs_no {width:100%;font-size:14px;width:100%;float:left;line-height:40px;text-align:center}
/*招聘会企业列表*/
.yun_zph_content {width:978px;border:1px solid #e6e6e6;float:left;margin-bottom:10px;}
.yun_zph_com_left {width:682px;border-right:1px solid #e6e6e6;padding-bottom:10px;min-height:700px;_height:700px;}
.yun_zph_com_h1 {width:662px;background:#3b8ee3;height:35px;line-height:35px;margin-top:10px; margin-left:10px;}
.yun_zph_com_h1 span {font-size:16px;font-family:微软雅黑;padding-left:10px;color:#fff;}
.job_fairs_com {width:662px;margin:0 auto}
.yun_job_fairs_list {width:642px;border-top:1px solid #fff;float:left;padding:10px;}
.yun_zph_com_l {width:510px;float:left}
.yun_zph_com_name {font-size:14px;color:#1d50a1;display:inline-block;width:340px;}
.yun_zph_com_l span {color:#686c82}
.yun_zph_com_post {width:450px;line-height:23px;margin-top:5px;color:#8c9096;float:left;height:23px; position:relative;}
.yun_zph_com_post span {color:#6b6e72;float:left;}
.yun_zph_com_post_more {float:left; overflow:hidden; height:23px;}
.yun_zph_com_post_more a{white-space:nowrap;}
.yun_zph_com_r {width:100px;float:right;}
.job_fairs_sub2 {width:90px;height:30px;line-height:30px;color:#fff;display:block;background:#1369c0;font-size:14px;text-align:center;margin-top:5px;}
.job_fairs_sub2:hover {color:#fff;background:url(../images/yun_zph_icon2.jpg) no-repeat;text-decoration:none}
.yun_zph_com_right {width:265px;padding:15px;}
.yun_zph_name {width:100%;line-height:23px;font-size:16px;font-family:微软雅黑;}
.yun_zph_name a {color:#cd0200;text-decoration:underline}
.yun_zph_img {width:100%;margin-top:10px;}
.yun_zph_r_list {width:100%;margin-top:10px;}
.yun_zph_r_list span {display:block;width:100%;height:20px;line-height:20px;font-weight:bold;}
.yun_zph_r_list p {width:100%;line-height:23px;color:#666}
/*微博招聘*/
.microblog_cont {width:100%;float:left;background: #F1F1F1 url(../images/index_bg.jpg) center top repeat-x}
.microblog_wb {width:100%;float:left;background:#fff;margin-top:30px;box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);padding-bottom:20px;margin-bottom:10px;}
.microblog_left {width:245px;float:left;margin-top:20px;margin-left:10px;_margin-left:5px;}
.microblog_dl {width:100px;float:left;margin-top:10px;margin-left:10px;_margin-left:5px;_margin-right:5px;margin-top:15px;}
.microblog_dl dt {width:100px;height:80px;position:relative}
.microblog_dl dt span {width:100px;height:20px;display:block;position:absolute;bottom:0px;left:0px;color:#fff;text-align:center;}
.microblog_dl dt .txt {width:100px;height:20px;display:block;line-height:20px;position:absolute;bottom:0px;left:0px;color:#fff;text-align:center;z-index:2}
.microblog_dl dd {width:100%;text-align:center;line-height:23px;}
.microblog_dl dd a {color:#666;}
.mask {background:#000000;height: 20px;left: 0;opacity: 0.5;top: 0;width: 100px;z-index: 1;display:block;position:absolute;filter:alpha(opacity=50);}
.microblog_right {width: 700px;float:right;margin-top:10px;margin-right:10px;_margin-right:5px;position: relative;overflow: hidden;}
.microblog_Comment {width:340px;float:left}
.microblog_Forwarding {width:340px;float:right}
.microblog_h1 {width:100%;background:url(../images/yun_wb.jpg) no-repeat bottom;height:35px;line-height:35px;font-size:16px;color:#333;font-family:微软雅黑;text-indent:10px;}
.microblog_Comment_list {width:340px;height:460px;position:absolute;float:left;overflow:hidden;}
.microblog_Comment_list li {width:100%;float:left;background:url(../images/yun_icodd.jpg) repeat-x bottom;padding:10px 0px 10px 0px}
.microblog_C_l {width:56px;float:left}
.microblog_C_l .microblog_C_i {border:1px solid #ccc;padding:2px;}
.microblog_C_l .microblog_C_i img {display:block}
.microblog_n {width:268px;float:left;padding-left:10px;line-height:20px;color:#555555}
.microblog_n a {color:#1781B1}
.microblog_n_list3 {width:100%;height:90px;overflow:hidden}
.microblog_n_list2 {text-align:right}
.microblog_job {width:100%;background:url(../images/yun_fast_ico.png) no-repeat right bottom #0066FE;height:35px;line-height:35px;font-size:16px;color:#fff;font-family:微软雅黑;text-indent:10px;margin-top:10px;margin-bottom:10px;}
.microblog_job_list {width:470px;float:left;margin-left:15px;margin-top:20px;_margin-left:5px;_margin-right:10px;}
.microblog_job_list dt {width:80px;height:80px;border:1px solid #ccc;padding:1px;float:left}
.microblog_job_list dd {width:370px;padding-left:10px;float:left;line-height:18px;color:#aaa;}
.microblog_job_list dd a {color:#1781B1}
/*企业预订弹出框*/
.Corporate_box {width:380px;background:#fff;box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);z-index: 9999;position:absolute;_position:absolute;margin: auto;}
.Corporate_box_h1 {background-position: 0 -381px;color: #FFFFFF;font-size: 14px;height: 41px;line-height: 40px;padding-left: 15px;}
.Corporate_box_h1 span {float: left;font-size: 14px;line-height: 40px;margin: 0;padding: 0 10px;}
.Corporate_box_h1 .Corporate_box_cholse {background-position: -104px -59px;cursor: pointer;display: block;float: right;height: 41px;width: 41px;}
.Corporate_box_cont {background: none repeat scroll 0 0 #FFFFFF;color: #666666;float: left;line-height: 24px;padding: 10px;width: 360px;font-size:14px;}
.Corporate_box_list {width:100%;float:left}
.Corporate_box_list_bg {width:358px;margin-top:10px;}
.Corporate_box_left {display:inline-block;width:155px;text-align:right;float:left}
.Corporate_box_right {float:left;width:350px;background-color: #F1F9FE;border: 1px solid #C1E4F7;padding-left:10px;padding-top:5px;}
.Corporate_box_sub {width:150px;float:left;padding-left:150px;margin-top:10px;}
.Corporate_box_tj {background:#1369c0;border: medium none;color: #FFFFFF;cursor: pointer;font-size: 14px;font-weight: bold;height: 36px;letter-spacing: 2px;line-height: 36px;text-align: center;width: 101px;}
.error_zph {width:100%;height:100px;padding:0 auto;margin:0 auto;text-align:center;display:none;line-height:100px;}
.yun_mc {background:#fff;border: 1px solid #D1D1D1;margin-bottom: 10px;width:998px;margin-top:20px; padding:20px 0;}
.yun_mc_cont {margin: 20px auto;overflow: hidden;width: 695px;}
.yun-img {float: left;height: 100px;width: 100px;}
.yun_model-text {border:1px solid #ddd;float: right;height: 58px;line-height: 30px;padding: 20px;width: 549px;}
.yun_model-text p {color: #666666;font-family: "microsoft yahei";font-size: 18px;}
.yun-item {width:100%;float:left;margin-top:30px;}
.yun_chose_bel {color: #999999;font-size: 16px; font-weight:bold;margin-top: 3px;text-align: right;width: 230px;}
.item_list {height:34px;line-height: 34px;overflow: visible;padding-top: 9px; padding-bottom:20px;}
.yun_radio_log {vertical-align:middle;margin-right:5px;}
.Logged {position:absolute;left:152px;top:50px;color:red;border:1px solid #FFCC66;background:#FFFFDD;padding:5px;}
.yun_sub_11 {width:200px;height:43px;background:#1369c0;padding:0;border:none;cursor:pointer;color:#fff; font-size:16px;}
.yun_sub_12 {width:200px;height:43px;background:#f60;;padding:0;margin-left:10px;border:none;cursor:pointer;color:#fff; font-size:16px;}
.yun_sub_13 {width:200px;height:43px;background:#060;;padding:0;margin-left:10px;border:none;cursor:pointer;color:#fff; font-size:16px;}
.receive_err em {display:inline-block;width:145px;float:left}
.seachno{width:780px; float:left; padding:100px; background:#fff;}
.seachno_left{ float:left}
.listno-content { display: inline; line-height: 30px;margin-left: 50px;width: 450px;float:left}
.listno-content strong {font-size: 20px; font-weight: bold;}
.zph_tck_box_bg{ background:#e1e3e3; font-size:14px; font-weight:bold;color:#d74802; line-height:20px;}
.zph_tck_box_bg a{color:#d74802; }
.zph_tck_box_close{ display:block; line-height:23px;}
.zph_tck_box_close_post{ clear:both}
.zph_tck_post{width:100%; clear:both;border-bottom:1px dotted #ccc;}
.zph_tck_post input{width:13px;height:13px; overflow:hidden; vertical-align:middle}
.zph_tck_post label{width:330px;height:23px; line-height:23px; padding-left:10px;color:#1682f1; font-size:14px; display:inline-block}
/*积分商城*/
.redeem{ width:1000px; margin:0 auto; padding:0;}
.redeem_top{ width:100%; margin:12px 0 0 0;}
.redeem_top_left{ width:253px;height:293px; border:1px solid #ddd; background:#fff;}
.redeem_top_left_h{  width:100%; text-indent:12px; line-height:39px; border-bottom:1px solid #ddd;font-size:16px;font-family:微软雅黑; color:#666E78; background:#f8f8f8}
.redeem_top_left_lists{width:100%;}
.redeem_lone_items{width:100%; margin:10px 0 0 0;}
.redeem_rank{ width:21px; height:21px; margin:20px 10px 10px 24px; _margin:20px 10px 10px 12px;}
.redeem_lbanner{ width:167px;}
.redeem_lbanner img{ width:106px;  float:left;border:1px solid #ddd;}
.redeem_lbanner a{ width:147px;  height:20px; overflow:hidden; float:left; line-height:20px;}
.redeem_top_center{ width:465px;margin:0 0 0 10px;}
.redeem_raff{width:463px; height:36px; border:1px solid #D2F7C8; background:#F7FFF5; line-height:36px;}
.redeem_raff em{font-size:16px;font-family:微软雅黑; color:#31B70D; float:left; padding-left:10px;}
.redeem_raff a{ width:98px; height:38px; line-height:38px;font-size:18px;font-family:微软雅黑; color:#fff; background:#31bf0b; display:inline-block; float:right; text-align:center; margin:1px 1px 0 0;}
.redeem_raff a:hover{ background:#2bad08; color:#fff; text-decoration:none;}
.redeem_cbanner{ width:465px; height:246px; border:1px solid #fff; margin:10px 0 0 0;}
.redeem_top_right{ width:253px;height:293px; background:#fff;border:1px solid #ddd; }
.redeem_rlists{ width:100%;padding-bottom: 16px; height:230px; overflow:hidden;}
.redeem_rlists li{width:100%; float:left;}
.redeem_ritems{ width:290px; margin:12px 0 0 14px; _margin:6px 0 0 7px;}
.redeem_ritems dt{ width:60px; height:60px; float:left; border:1px solid #ddd;}
.redeem_ritems dd{width:170px; margin:0 0 0 10px; float:left;font-family:微软雅黑; }
.redeem_ritems dd em{ width:100%; float:left; color:#494949;}
.redeem_ritems dd em a{ color:#31B70D;}
.redeem_mainlists{ width:100%;}
.redeem_goods_items{width:978px; background:#fff; border:1px solid #ddd;font-size:14px; color:#555; padding:10px 0; margin:0 0 10px 0;}
.redeem_goods_items dt{ width:80px; float:left; margin-left:12px;_margin-left:6px;font-family:微软雅黑;}
.redeem_goods_items dd{width:886px; float:left; color:#aaa;}
.redeem_goods_items dd ul li{ float:left;}
.redeem_goods_items dd a{ color:#555;font-family:微软雅黑;}
.redeem_goods_lists{ width:980px; overflow:hidden;}
.redeem_goods_top{ width:992px;}
.redeem_one{ width:234px; border:1px solid #ddd; background:#fff; margin:0 12px 12px 0;}
.redeem_one dt{ width:222px; height:248px; margin:6px 0 0 6px;}
.redeem_one dd{ width:210px; padding-left:12px; float: left;}
.redeem_one_h{width:100%;font-size:16px;font-family:微软雅黑;line-height: 25px;overflow: hidden;height: 25px;display: block;}
.redeem_one_text{width:100%; margin:10px 0 10px 0;}
.redeem_one_text em{ width:130px;font-size:14px;font-family:微软雅黑; float:left;}
.redeem_bth{ width:78px; height:39px;}
.redeem_show_left{ width:700px;}
.redeem_show_ltop{ width:700px; background:#fff; padding-bottom:16px;}
.redeem_show_single{ width:278px; margin:16px 0 0 0px;}
.redeem_show_single img{width:278px; height:278px; float:left;border:1px solid #ddd;}
.redeem_show_texts{ width:380px; margin:14px 14px 0 0;_margin:14px 7px 0 0;}
.redeem_show_texts li{ width:100%; float:left; color:#666; line-height:44px; font-size:14px;}
.redeem_show_texts li b{ color:#f00;}
.redeem_show_texts .redeem_show_h{width:100%; border-bottom:1px solid #E1E1E1;font-size:18px;font-family:微软雅黑; line-height:22px; padding-bottom:8px;}
.redeem_show_texts li .redeem_show_input{ width:76px; height:24px; background:#fff; line-height:24px; border:1px solid #e6e5e5;}
.redeem_show_texts li .redeem_show_bth{ width:184px; height:43px;background:url(../images/redeem_now.png) no-repeat; border:none; cursor:pointer; margin:20px 0 0 0;}
.redeem_detail{ width:100%; background:#fff; margin:12px 0 0 0; padding-bottom:20px;}
.redeem_detail_h{ width:660px; margin:20px 0 0 20px;_margin:20px 0 0 10px; padding-bottom:8px;font-size:18px;font-family:微软雅黑;color:#555; border-bottom:1px solid #ddd;}
.redeem_detail_h li{ float: left; width:102px; border-right:1px solid #ddd; text-align:center; cursor:pointer}
.redeem_detail_h li a:hover{ color:#cd0200;}
.redeem_detail_h .redeem_detail_content{color:#f60;}
.redeem_gift_detail{ width:660px; margin:0 20px;_margin:0 10px 0 10px; overflow:hidden;}
.redeem_gift_name{ width:100%; color:#666; font-weight:bold; line-height:30px; margin:10px 0 0 0;}
.redeem_gdetail_text{ width:100%;}
.redeem_gdetail_text li{ width:330px; float:left; line-height:30px; color:#666;}
.redeem_gdisplay{ width:100%;}
.redeem_gdisplay img{width:100%; margin:0 0 20px 0;}
.redeem_gift_record{width:100%;}
.redeem_record_title{width:100%;font-family:微软雅黑; line-height:50px;}
.redeem_record_h{font-size:16px; color:#555; border-bottom:1px solid #ddd;}
.redeem_record_title li{ float:left;}
.redeem_record_title .redeem_record_name{ width:250px; margin-left:20px;_margin-left:10px;}
.redeem_record_title .redeem_record_product{ width:230px;text-align:center; color:#ff7f21;}
.redeem_record_title .redeem_record_time{ text-align:center; color:#999;}
.redeem_record_h .record_title{ color:#333;}
.redeem_record_list{ padding-bottom:20px;}
.redeem_record_list .redeem_record_title li{border-bottom:1px dotted #ddd;}
.redeem_show_right{ width:265px; background:#fff;}
.redeem_hotgoods_h{width:265px; text-indent:10px; height:40px; line-height:40px; color:#333;font-size:16px;font-family:微软雅黑;background:url(../images/hotgoods_h.png) repeat-x; border-bottom:1px solid #ddd; }
.redeem_hotgoods_lists{ width:100%;}
.redeem_hotgoods_lists dl{width:245px; float:left; margin:10px 0 10px 10px;_margin:10px 0 10px 5px;color:#7F7F7F; line-height:26px; padding-bottom:10px;border-bottom:1px dotted #ddd;}
.redeem_hotgoods_lists dl dt{width:245px; float:left;}
.redeem_hotgoods_lists dl dt img{width:245px; height:124px; float:left;border:1px solid #ddd;}
.redeem_hotgoods_lists dl dd{width:245px; float:left;}
.redeem_hotgoods_lists dl dd a{ float:left; color:#7F7F7F;}
.redeem_hotgoods_lists dl dd a:hover{color:#cd0200;}
.redeem_hotgoods_lists dl dd em{ float:right;}
.redeem_hotgoods_lists dl dd em b{ color:#FF5A00; font-weight:normal;}
.redeem_itemize{ width:100%;  margin-bottom:12px;}
.redeem_itemize em{font-size:18px;font-family:微软雅黑;  line-height:36px; }
.redeem_blue{border-bottom:2px solid #2c85e0;}
.redeem_blue em{color:#2c85e0; float:left}
.redeem_green{border-bottom:2px solid #2bad08;}
.redeem_green em{ color:#2bad08;}
.redeem_red{border-bottom:2px solid #e62c4f;}
.redeem_red em{ color:#e62c4f;}
.redeem_itemize a{ float:right; line-height:36px;}
/*首页幻灯*/
#slides {position: relative;width:465px;height:246px;float:left;}
.slides_container {overflow:hidden;position:relative;display:none;width:465px;height:246px;}
.slides_container div.slide {width:465px;height:246px;display:block;}
.slides_container img {width:465px;height:246px;display: block;}
#slides .prev {margin-right: 5px;float:left;}
#slides .next {margin-right: 5px;float:left;}
.pagination {margin:6px 0 0;list-style: none;z-index:9999;position: absolute;bottom: 15px;right:15px;}
.pagination li {float: left;margin: 0 1px;}
.pagination li a {display: block;width: 13px;height: 0;padding-top: 13px;background-position: 0 0;float: left;overflow: hidden;background-image: url(../images/circle.png);}
.pagination li.current a, .pagination li.current a:hover { background-position: -16px -0px }
.pagination li a:hover { background-position: 0px -0px }
#slides a:link, #slides a:visited { color: #333 }
#slides a:hover, #slides a:active { color: #9e2020 } 
.supportiframe_text_in{width:200px; display:inline-block;border:1px solid #ccc;height:30px; line-height:30px; float:left}
.supportiframe_textarea{width:520px;height:100px;border:1px solid #ccc; vertical-align:top; float:left}
.redeem_show_du_img{width:100px; float:left; margin-top:10px; margin-left:10px;_margin-left:5px;}
.redeem_show_img_text_list{width:100%; float:left; margin-top:10px;}
.redeem_show_img_text{ width:656px; background:#f4f4f4;margin-left:10px;_margin-left:5px; padding:10px; float:left;border:1px dashed #ccc; margin-top:20px;}
.redeem_show_img_text_list_s{ display:block;width:100px; float:left; text-align:right; font-size:14px;color:#666; line-height:30px;}
.supportiframe_text_bth{width:180px;height:40px; background:#F60;color:#fff; font-size:18px;font-family:微软雅黑; cursor:pointer;border:none;}
.redeem_show_img_text_span{ width:300px; float:left;font-size:14px; font-weight:bold; line-height:30px;}
.redeem_show_img_text_list_300{width:310px; float:left}

/*************************招聘会***********************/
.career{ border:1px solid #dbdcdd; display:block; width:997px; min-height:153px;_height:153px; display:block; clear:both; font-family:"微软雅黑"; position:relative;z-index:1; margin-bottom:15px;}
.career_con{ padding:14px 0 20px 21px;}
.car_time{ width:127px; height:119px; background:url("../images/zph_bg1.png") no-repeat; float:left; text-align:center; font-family:"微软雅黑"; margin-right:42px;}
.car_time p{ height:30px; padding-top:8px; line-height:30px; color:#fff; font-size:14px;}
.car_time h3{ color:#2c81d6; font-size:36px;font-weight:normal;}
.car_time span{ color:#6f7982; font-size:14px;}
.car_theme{ float:left; width:510px;}
.car_theme h2{ font-size:20px; line-height:34px;}
.car_theme h2 a{ color:#2c81d6;}
.car_theme dl{ display:block; clear:both; font-size:14px; line-height:28px;}
.car_theme dl dt{ font-size:14px; color:#a8a6a6; float:left; width:73px; padding-left:25px;}
.car_theme dl .car_the_time{ background:url("../images/zph_icon3.png") no-repeat left center;}
.car_theme dl .car_the_add{ background:url("../images/zph_icon2.png") no-repeat left center;}
.car_theme dl .car_the_per{ background:url("../images/zph_icon1.png") no-repeat left center;}
.car_theme dl dd{ color:#514c4c; float:left;}
.car_order{ float:left; width:290px;}
.car_order_con{ padding-top:39px; padding-bottom:15px; clear:both; overflow:auto;zoom:1;}
.car_order_con a{ font-size:14px; width:75px; height:29px; display:inline-block; line-height:29px; text-align:center; color:#fff; float:left; margin-right:13px;}
.car_order_con a:hover{color:#fff;}
.car_order_con .car_ord_ord{ background:url("../images/zph_bg2.jpg") no-repeat;}
.car_order_con .car_ord_co{ background:url("../images/zph_bg3.jpg") no-repeat;}
.car_order_con .car_ord_det{ background:url("../images/zph_bg3.jpg") no-repeat;}
.car_order p{ font-size:12px; color:#6a5959; clear:both;}
.car_order p i{ color:#e95503;}
.car_state{ width:63px; height:63px; position:absolute; top:-4px; right:-5px; z-index:10; background:url("../images/zph_icon4.png") no-repeat; }
.car_order_con .car_ord_orded{ background:url("../images/zph_bg4.jpg") no-repeat; color:#494040;font-size: 14px;
width: 75px;
height: 29px;
display: inline-block;
line-height: 29px;
text-align: center;
float: left;
margin-right: 13px;}
.car_stateed{background:url("../images/zph_icon5.png") no-repeat; }
.car_order_con .car_ord_orded:hover{ text-decoration:none}

.zph_classed{ font-family:"微软雅黑"; font-size:18px; color:#0b0c0c; margin-bottom:18px; line-height:27px;width:100%; float:left}
.zph_classed a{ font-size:14px;}
/*往期回顾*/
.careered{ min-height:100px;_height:100px; background:#fbfafa; font-family:"微软雅黑";}
.career_coned{ padding:9px 0 14px 20px;}
.car_timeed{ width:80px; height:77px;background:url("../images/zph_bg2.png") no-repeat; margin-right:27px;}
.car_timeed p{ height:20px; line-height:20px;}
.car_timeed h3{ font-size:24px; color:#606060; line-height:28px; }
.car_timeed span{ font-size:12px;}
.car_order_coned{ padding-top:33px;}
.car_order_coned .car_ord_coed{ background:url("../images/zph_bg5.jpg") no-repeat; color:#3d3737;}
.car_themed{ width:425px; float:left; padding-top:12px;}
.car_themed h3{ font-size:16px; font-weight:normal; padding-bottom:18px;}
.car_themed h3 a{ color:#6a6a6a;}
.car_themed p{ color:#4b4c4d; font-size:13px;}
.car_company{ width:234px; float:left; padding-top:16px;}
.car_company p{ font-size:14px; color:#1f2224; line-height:28px;}
.car_company p i{ color:#ff7300;}
.car_ordered{ width:190px;}
.car_finish{background:url("../images/zph_icon6.png") no-repeat; top:-6px;}
/*翻页*/
.page{ text-align:center;}
.page a{ display:inline-block; border:1px solid #dedede; padding:6px 11px; margin:0 2px;}
.page .page_cur{ background:#007ccf; color:#fff; border:none;}
.page label{ display:inline-block; padding-bottom:6px;}

/*增加*/
.zph_det_tit{ width:950px; margin-left:20px; border-bottom:1px solid #e2e2e2; line-height:40px; padding-bottom:5px;}
.zph_det_tit h2{ font-family:"微软雅黑"; font-size:20px; color:#525252; font-weight:normal;}
.zph_detail{ padding-top:16px;}
.zph_icon{background:url("../images/zph_icon7.png") no-repeat; padding-left:24px;}
.zph_icon_fm{ background-position:0 -58px;}
.zph_icon_time{ background-position:0 2px; }
.zph_icon_add{ background-position:0 -30px; }
.zph_icon_tel{ background-position:0 -91px; }
.zph_icon_per{ background-position:0 -125px; }
.zph_icon_road{ background-position:0 -153px; }

.car_order_coned .seek_chqy:hover{color:#3d3737; text-decoration:underline;}

.car_order_con .car_ord_stop:hover{ color:#494040; text-decoration:underline;}