{yun:}include file="$comstyle/header.htm"{/yun}
<div class="w1000">
  <div class="admin_mainbody"> {yun:}include file="$comstyle/left.htm"{/yun} 
    <script> 
$(document).ready(function(){ 
	$('.cancel_btn').click(function(){
		layer.closeAll();
	});
	$(".status").click(function(){
		$("#paylog_id").val($(this).attr("id"));
		$("#alertcontent").val($(this).attr("remark"));
		$.layer({
			type : 1,
			title :'备注', 
			closeBtn : [0 , true],
			border : [10 , 0.3 , '#000', true],
			area : ['320px','200px'],
			page : {dom :"#infobox"}
		});
	}); 
});

</script>
    <div class=right_box>
    <div class=admincont_box>
    <div class="com_tit"><span class="com_tit_span">{yun:}if $ordertype{/yun}财务明细{yun:}else{/yun}充值记录{yun:}/if{/yun}</span>           <input class="job_new_tj" onclick="location.href='index.php?c=pay&type=integral'" type="button" value="现在充值" name="input"  style="margin-right:10px; float:right; margin-top:5px;"></div>
 <div class="com_body">
    <div class=admin_textbox_04>
    <iframe id="supportiframe"  name="supportiframe" onload="returnmessage('supportiframe');" style="display:none"></iframe>
    <form action="{yun:}$now_url{/yun}" target="supportiframe" method="post" id='myform'>
      <div class=table> 
	  {yun:}if $ordertype{/yun}
        <div id="job_checkbokid">
        {yun:}if $rows{/yun}
        <div class="job_news_list job_news_list_h1">
                <span class="job_news_list_span job_w160" style="padding-left:10px;">流水单号</span>
                 <span class="job_news_list_span job_w100">金额</span>
                  <span class="job_news_list_span job_w100">状态</span>
                     <span class="job_news_list_span job_w200"> 备注</span>
                  <span class="job_news_list_span job_w150" style=" text-align:center">时间</span>
              </div>
              {yun:}/if{/yun}
          {yun:}foreach from=$rows item=log{/yun}
          {yun:}assign var="state" value=$log.pay_state{/yun}
          <div class="job_news_list">
           <span class="job_news_list_span job_w160"style="padding-left:10px;">{yun:}$log.order_id{/yun}</span>
            <span class="job_news_list_span job_w100">{yun:}$log.order_price{/yun}{yun:}if $log.type==2{/yun}元{yun:}else{/yun}{yun:}$config.integral_pricename{/yun}{yun:}/if{/yun}</span>
             <span class="job_news_list_span job_w100">{yun:}$arr_data.paystate.$state{/yun}</span>
             <span class="job_news_list_span job_w200">{yun:}$log.pay_remark{/yun}&nbsp;</span>
             <span class="job_news_list_span job_w150" style="text-align:center">{yun:}$log.pay_time{/yun}</span>
          </div>
          {yun:}foreachelse{/yun} 
		   <div class="msg_no">您还没有记录。</div>
          {yun:}/foreach{/yun} 
       
        </div>
        {yun:}else{/yun}
        
        <div id="job_checkbokid">
        {yun:}if $rows{/yun}
               <div class="job_news_list job_news_list_h1">
                <span class="job_news_list_span job_w160" style="padding-left:10px;">充值单号</span>
                 <span class="job_news_list_span job_w100">支付类型</span>
                  <span class="job_news_list_span job_w100">充值金额</span>
                  <span class="job_news_list_span job_w100">支付状态</span>
                     <span class="job_news_list_span job_w150" style="text-align:center"> 时间</span>
                  <span class="job_news_list_span job_w120" style="text-align:center">操作</span>
              </div>
              {yun:}/if{/yun}
          {yun:}foreach from=$rows item=log{/yun}
          {yun:}assign var="state" value=$log.order_state{/yun}
          {yun:}assign var="type" value=$log.order_type{/yun}
          <div class="job_news_list">
            <span class="job_news_list_span  job_w160" style="padding-left:10px;">{yun:}$log.order_id{/yun}</span>
            <span class="job_news_list_span job_w100">{yun:}if $type{/yun}{yun:}$arr_data.pay.$type{/yun}{yun:}else{/yun}手动{yun:}/if{/yun}</span>
            <span class="job_news_list_span job_w100">{yun:}$log.order_price{/yun}</span>
          <span class="job_news_list_span job_w100">{yun:}$arr_data.paystate.$state{/yun}</span>
           <span class="job_news_list_span job_w150" style="text-align:center">{yun:}$log.order_time|date_format:'%Y-%m-%d %H:%M:%S'{/yun}</span>
          <span class="job_news_list_span job_w120" style="text-align:center">
			{yun:}if $log.order_type=='bank'&&$log.order_state!='2'{/yun} 
            <a href="javascript:;" id="{yun:}$log.id{/yun}" class="status" remark="{yun:}$log.order_remark{/yun}">备注修改</a>| 
            {yun:}/if{/yun} 
              {yun:}if $log.order_state=='1' && $log.order_type!='bank'{/yun} <a href="index.php?c=payment&id={yun:}$log.id{/yun}"  class="cblue">去付款</a> |
              <a href="javascript:void(0)" onclick="del_pay({yun:}$log.id{/yun})" class="cblue">取消充值</a> {yun:}else{/yun}
              {yun:}$arr_data.paystate.$state{/yun}
              {yun:}/if{/yun} 
			 </span>
             <div class="job_news_list_bot">备注：{yun:}$log.order_remark{/yun}</div>
          </div>
          {yun:}foreachelse{/yun} 
		  <div class="msg_no">您还没有充值记录。</div>
          {yun:}/foreach{/yun}

        </div>
        {yun:}/if{/yun} </div>

      <div> </div>
      <div>
        <div style="clear:both"></div>
        <div class="diggg">{yun:}$pagenav{/yun}</div>
      </div>  
    </form>
    <div class="clear"></div> 
	<div class="infoboxp22" id="infobox" style="display:none; ">
      <div>
        <form action="index.php?c=paylog" method="post" id="formstatus" target="supportiframe" onsubmit="return paylog_remark();">
          <div class="jb_infobox" style="width: 100%;">
            <input name="id" id='paylog_id' type="hidden"> 
			 <textarea id="alertcontent" style="width:310px;margin:5px;height:100px" name="order_remark" cols="30" rows="9" class="hr_textarea"></textarea>
          </div>
          <div class="jb_infobox" style="width: 100%;">
            <button type="submit" name='submit' value='1' class="submit_btn" style="margin-left:80px;">确认</button>
            &nbsp;&nbsp;
            <button type="button"   class="cancel_btn">取消</button>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</div>
</div>
</div>
</div>  
{yun:}include file="$comstyle/footer.htm"{/yun} 